.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
}
.sidebar-menu>li>a::before{
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%; top: 0;
    width: 100%; height: 100%;
    border-right: solid 2px #367FA9;
    background: #3C3735;
    transition: .35s ease left;
}
.sidebar-menu>li>a:hover::before {
    left: -2%;
    width: 102%;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 12px 5px 12px 15px;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
}
.sidebar-menu .treeview-menu>li>a::before{
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%; top: 0;
    width: 100%; height: 100%;
    border-right: solid 2px #DF4500;
    background: #3C3735;
    transition: .35s ease left;
}
.sidebar-menu .treeview-menu>li>a:hover::before {
    left: -2%;
    width: 102%;
}

.form-control:hover {
    border-color: #157D0A;
}

.form-control:focus {
    outline:solid 1px #157D0A;
    border: none;
}

.sidebar-form .form-control:hover { border-color: none; }
.sidebar-form .form-control:focus { outline: none; }

.table-bordered>tbody>tr>td { word-break: break-word;             border-right: none;
        border-left: none; }
.box-body table tbody tr td { vertical-align: middle; }

[v-cloak] {
    display: none;
}
